[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "OnexKernel"]
	path = OnexKernel
	url = git@github.com:DuncanCragg/OnexKernel.git
[submodule "OnexLang"]
	path = OnexLang
	url = git@github.com:DuncanCragg/OnexLang.git
[submodule "external/lvgl"]
	path = external/lvgl
	url = git@github.com:littlevgl/lvgl.git
