<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="network.object.onexapp"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-sdk android:minSdkVersion="24" />

  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
  <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
  <uses-feature android:name="android.software.leanback" android:required="false"/>
  <uses-feature android:name="android.hardware.usb.host"/>

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application android:allowBackup="false"
               android:label="onexapp"
               android:icon="@drawable/icon"
               android:hasCode="true">

    <activity android:name="OnexNativeActivity"
              android:label="Onex"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:launchMode="singleTask"
              android:screenOrientation="landscape"
              android:configChanges="orientation|screenSize|keyboardHidden">

      <meta-data android:name="android.app.lib_name" android:value="onexapp" />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
      </intent-filter>

      <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                 android:resource="@xml/device_filter"/>

    </activity>

    <receiver android:name=".AlarmReceiver" android:exported="false" >
        <intent-filter>
          <action android:name="Onex.Alarm" />
        </intent-filter>
    </receiver>

  </application>
</manifest>
